:root {
  --bg-primary: #23044b;
  --bg-secondary: #673d9f;
  --text-primary: #fff;
  --text-secondary: #bbb;
}

body {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Open Sans";
}

#main-section {
  background: #080024;
  background: -webkit-linear-gradient(
    0,
    rgba(8, 0, 36, 1) 0%,
    rgba(77, 44, 11, 1) 100%,
    rgba(48, 11, 11, 1) 100%
  );
  background: -moz-linear-gradient(
    0,
    rgba(8, 0, 36, 1) 0%,
    rgba(77, 44, 11, 1) 100%,
    rgba(48, 11, 11, 1) 100%
  );
  background: linear-gradient(
    0,
    rgba(8, 0, 36, 1) 0%,
    rgba(77, 44, 11, 1) 100%,
    rgba(48, 11, 11, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080024",
            endColorstr="#300B0B",
            GradientType=0);
}

#tooling-section {
  background: #140738;
  background: -webkit-linear-gradient(
    0deg,
    rgba(20, 7, 56, 1) 0%,
    rgba(8, 0, 36, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(20, 7, 56, 1) 0%,
    rgba(8, 0, 36, 1) 100%
  );
  background: linear-gradient(0deg, rgba(20, 7, 56, 1) 0%, #080024 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140738", endColorstr="#080024", GradientType=0);
}

#tooling-title {
  background-color: var(--bg-primary);
  border: var(--bg-secondary) 2px dashed;
}

#tooling-items-list {
  background-color: var(--bg-primary);
}

#tooling-items-list li {
  padding: 10px 20px;
  width: 21%;
  height: 75px;
  margin: 10px 0;
  background-color: #110530;
  display: flex;
  align-items: center;
  border-radius: 6%;
  transition: 700ms;
  font-size: 18px;
  font-weight: 500;
}

#tooling-items-list li:hover {
  transition: 700ms;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 16px 38px 0px rgba(61, 32, 139, 0.75);
  -webkit-box-shadow: 0px 16px 38px 0px rgba(61, 32, 139, 0.75);
  -moz-box-shadow: 0px 16px 38px 0px rgba(61, 32, 139, 0.75);
}

#tooling-items-list li img {
  max-height: 35px;
  max-width: 40px;
}

#tooling-items-list li h5 {
  margin-left: 15px;
}

#exp-section {
  background: #140738;
  background: -webkit-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: linear-gradient(0deg, #080024, rgba(20, 7, 56, 1) 0% 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140738", endColorstr="#080024", GradientType=0);
}

#exp-title {
  background-color: var(--bg-primary);
  border: var(--bg-secondary) 2px dashed;
}

#exp-main-div {
  background-color: var(--bg-primary);
}

#exp-companies-div {
  background: #0f0121;
  background: -webkit-linear-gradient(
    90deg,
    rgba(15, 1, 33, 1) 0%,
    rgba(35, 4, 75, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(15, 1, 33, 1) 0%,
    rgba(35, 4, 75, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(15, 1, 33, 1) 0%,
    rgba(35, 4, 75, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#0F0121",
  endColorstr="#23044B",
  GradientType=1);
}

#exp-companies-div li {
  cursor: pointer;
}

#exp-companies-div li.selected {
  border-left: var(--bg-secondary) 3px solid;
  padding-left: 15px;
}

#exp-description-div p {
  color: var(--text-secondary);
}

#service-section {
  background: #140738;
  background: -webkit-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: linear-gradient(0deg, #080024, rgba(20, 7, 56, 1) 0% 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140738", endColorstr="#080024", GradientType=0);
}

#service-title {
  background-color: var(--bg-primary);
  border: var(--bg-secondary) 2px dashed;
}

#services-list li {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px 10px;
  background: #23044b;
  background: -webkit-linear-gradient(
    0deg,
    rgba(35, 4, 75, 1) 0%,
    rgba(15, 1, 33, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(35, 4, 75, 1) 0%,
    rgba(15, 1, 33, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(35, 4, 75, 1) 0%,
    rgba(15, 1, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#23044B", endColorstr="#0F0121", GradientType=0);
  box-shadow: 0px 10px 43px 11px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 43px 11px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 43px 11px rgba(0, 0, 0, 0.2);
  border: var(--bg-secondary) 0px solid;
  transition: 500ms;
}

#services-list li:hover {
  border: var(--bg-secondary) 1px solid;
  transform: scale(1.05) !important;
  transition: 500ms;
}

#services-list li svg > path {
  fill: var(--bg-secondary);
}

#services-list li > p {
  height: 100%;
  width: 100%;
  padding-top: 30px;
  color: var(--text-secondary);
}

#contact-section {
  background: #140738;
  background: -webkit-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(8, 0, 36, 1) 0% rgba(20, 7, 56, 1) 100%
  );
  background: linear-gradient(0deg, #080024, rgba(20, 7, 56, 1) 0% 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#140738", endColorstr="#080024", GradientType=0);
}

#contact-title {
  background-color: var(--bg-primary);
  border: var(--bg-secondary) 2px dashed;
}

#contact-list li > a {
  margin: 20px 0;
}

#contact-list li > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-list li > a > span {
  margin: 0 40px;
  background-color: var(--bg-secondary);
  fill: var(--bg-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

#contact-list li > a:hover > span {
  transition: 500ms;
  box-shadow: 0px 10px 43px 11px rgba(130, 71, 202, 0.3);
  -webkit-box-shadow: 0px 10px 43px 11px rgba(130, 71, 202, 0.3);
  -moz-box-shadow: 0px 10px 43px 11px rgba(130, 71, 202, 0.3);
}

#contact-list li > a > h6 {
  margin-top: 20px;
}

@media (max-width: 450px) {
  #tooling-items-list li {
    width: 90%;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 451px) and (max-width: 849px) {
  #tooling-items-list li {
    width: 45%;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 850px) and (max-width: 1281px) {
  #tooling-items-list li {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 1282px) and (max-width: 1441px) {
  #tooling-items-list li {
    width: 30%;
  }
}
